blockquote {
  border-left: 5px solid #795548;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.input-field label {
  color: #795548;
}

.input-field input:focus + label {
  color: #795548;
}

.input-field input:focus {
  border-bottom: 1px solid #795548;
  box-shadow: 0 1px 0 0 #795548;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background: transparent;
}

.tab a.active {
  color: #795548 !important;
}

.tabs .indicator {
  background: #795548;
}

.tabs .tab a,
.tabs .tab a:hover {
  color: #5d4037;
}
